/* CUSTOM */

#login-logo
{
    margin-top:30px;
    text-align: center;
}
#lost-password
{
    margin-top:20px;
     text-align: center;
    margin-left: -150px;
    color:black;
}



#user-login {
    width: 320px;
    padding: 20px;
    margin: auto;
    margin-top:50px;
    background-color: white;
    border: 1px solid #DEDEDE;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

/* CUSTOM */

